<h1>Wurm Tools</h1>

<section>
  <h3 style="margin-top: 0">About these tools</h3>
  <p>
    Wurm is an old-school RPG game with a lot of depth where a lot of the mechanics rely on <i>feeling</i> and <i>experiments</i>
    people have done trying to explain the logic behind it.
  </p>

  <p>
    Since I love to reverse engineer stuff as a way to learn how others have built software in the past, I have created
    a
    small compendium of tools that <i>exploit</i> this knowledge in a direct and simple way.
  </p>

  <p>
    These tools have not been verified by external sources, so take everything mentioned here with a pinch of salt.
  </p>

  <p class="notice" style="background-color: rgba(203,59,63,0.6)">
    Beware that by using these tools, you may be spoiling
    yourself some of the fun that comes with discovering the processes!
  </p>

</section>

<section>
  <h3 style="margin-top: 0"><i>Something is wrong!!</i></h3>
  <p>
    I do play in a Wurm Unlimited server hosted by some amazing people, so the version <b>may not be</b> the same in
    other
    servers, nor in Wurm Online. That said... you are free to experiment on your own and see if these tools prove useful
    for your own scenarios.
  </p>
  <p>
    If for any reason you think there is a flaw in a tool, and want to help improve or repair it... I will think of a
    way to get in contact and put it here soon. Anyways, you may already know how to find me if you reached this page ;)
  </p>
</section>

<section>
  <h3 style="margin-top: 0"><i>Changelog</i></h3>
  <p><i>2024-05-02</i></p>
  <ul>
    <li>Added "Enchanting Simulator"</li>
    <li>Reworked the look-and-feel of the whole page</li>
    <li>Added home texts</li>
  </ul>
</section>
